

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://lh6.googleusercontent.com/-M6tjIqwSKVU/UuUSDsWhoKI/AAAAAAAACzc/jfEl2jJbn78/w913/SFD2D4BF3BDC085428382992743A9C2AEE5_1024x.jpg');">
    <div class="banner-content">
      <h1>Immo search</h1>
      <p>Trouvez un logement n'est plus un soucis</p>
    </div>
  </div>


<div class="container">

  <div class="row">
  <%= simple_form_for [@search] do |f| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    <%= f.input :goal, collection: ['louer', 'acheter'], label: "Quel objectif ?" %>
    <%= f.input :old_new_type, collection: ['ancien', 'neuf', 'viager'] %>
    <%= f.input :house_type, collection: ['appartement', 'maison', 'terrain', 'parking box', 'loft/atelier', 'chateau', 'hotel particulier', 'batiment', 'immeuble'], label: "Type de bien" %>
    <%= f.input :location, placeholder: "Paris, Nantes...", label: "Où cherchez-vous ?", input_html: { class:'select2'}  %>

    </div>
    <div class="col-xs-12 col-sm-4">
    <%= f.input :min_budget, label: "Budget minimum", placeholder: " -- €" %>
    <%= f.input :max_budget, label: "Budget maximum", placeholder: " -- €" %>
    <%= f.input :min_living_space, label: "Surface habitable minimum", placeholder: " -- m²" %>
    <%= f.input :max_living_space, label: "Surface habitable maximum", placeholder: " -- m²" %>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    <%= f.input :min_land_area, label: "Surface du terrain - min" %>
    <%= f.input :max_land_area, label: "Surface du terrain - max" %>
    <%= f.input :rooms, collection: ['Studio', '2', '3', '4', '5+'], label: "Combien de pièces ?" %>
    <%= f.input :bedrooms, collection: ['1', '2', '3', '4', '5+'], label: "Combien de chambres ?" %>
    </div>
    <%= f.submit "voir les annonces", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>

<%= select_tag "timezone", options_from_collection_for_select(
      ActiveSupport::TimeZone.all.
        map { |tz| tz.tzinfo }.
        sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2' %>

