

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://lh6.googleusercontent.com/-M6tjIqwSKVU/UuUSDsWhoKI/AAAAAAAACzc/jfEl2jJbn78/w913/SFD2D4BF3BDC085428382992743A9C2AEE5_1024x.jpg');">
    <div class="banner-content">
      <h1>Immo search</h1>
      <p>Trouvez un logement n'est plus un soucis</p>
    </div>
  </div>


<div class="container">
  <div class="wrapper">


  <ul class="steps">
    <li class="is-active">Step 1</li>
    <li>Step 2</li>
    <li>Step 3</li>
  </ul>

<div class="form-wrapper">

  <div class="row">
  <%= simple_form_for [@search] do |f| %>

    <!-- <div class="section is-active"> -->
      <%= f.input :goal, as: :radio_buttons, collection: ['louer', 'acheter'], label: "Quel objectif ?" %>
      <%= f.input :location, placeholder: "Paris, Nantes...", label: "Où cherchez-vous ?" , as: :select, input_html: {class:'select2', multiple:'multiple'}, collection: @communes %>
      <!-- <div class="button">Next</div> -->
    <!-- </div> -->

    <!-- <div class="section"> -->
      <%= f.input :old_new_type, as: :radio_buttons, collection: ['ancien', 'neuf', 'viager'] %>
      <%= f.input :house_type, as: :radio_buttons, collection: ['appartement', 'maison', 'terrain', 'parking box', 'loft/atelier', 'chateau', 'hotel particulier', 'batiment', 'immeuble'], label: "Type de bien" %>
        <!-- <div class="button">Next</div> -->
    <!-- </div> -->

    <!-- <div class="section"> -->
      <%= f.input :min_budget, label: "Budget minimum", placeholder: " -- €" %>
      <%= f.input :max_budget, label: "Budget maximum", placeholder: " -- €" %>
        <!-- <div class="button">Next</div> -->
    <!-- </div> -->

    <!-- <div class="section"> -->
      <%= f.input :rooms, as: :radio_buttons, collection: ['Studio', '2', '3', '4', '5+'], label: "Combien de pièces ?" %>
      <%= f.input :bedrooms, as: :radio_buttons, collection: ['1', '2', '3', '4', '5+'], label: "Combien de chambres ?" %>
        <!-- <div class="button">Next</div> -->
    <!-- </div> -->

    <!-- <div class="section"> -->
      <%= f.input :min_living_space, label: "Surface habitable minimum", placeholder: " -- m²" %>
      <%= f.input :max_living_space, label: "Surface habitable maximum", placeholder: " -- m²" %>
      <%= f.input :min_land_area, label: "Surface du terrain - min" %>
      <%= f.input :max_land_area, label: "Surface du terrain - max" %>
      <%= f.submit "voir les annonces", class: "btn btn-primary" %>
    <!-- </div> -->
  <% end %>
  </div>
  </div>
</div>
</div>
